@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&&display=swap');

body { 
  font-family: 'Playfair Display', serif;
  color: darkgreen;
  font-size: 1rem;
  margin: 0;
}

/* typography */

h1,
h2,
h3 {
  font-family: 'Mountains of Christmas', cursive;
  color: brown;
}

h1 {
  margin: 0;
  font-size: 3rem;
  text-align: center;
}

h2 {
  margin-top: 0;
  font-size: 1rem;
}

h3 {
  margin-top: 0;
  font-size: 2rem;
  text-align: center;
}

p {
  font-size: 1rem;
  line-height: 33px;
}

.text-box {
  background-color: #ece6d1;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px black;
}

/* images */

.icon-one {
  width: 100%;
  margin-bottom: 100px;
}

.icons {
  width: 50%;
}

.img-box {
  display: flex;
  justify-content: center;
}

/* layout */

header, section, footer {
  padding: 45px 0px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-image: url("images/glitter.png");
  background-size: contain;
  text-align: center;
}

.section-two {
  background-image: url("images/glitter.png");
  background-repeat: no-repeat;
  background-size: cover;
  
}

footer {
  text-align: center;
}

/* links */

a {
  color: brown;
  text-decoration: none;
}

a:hover, a:active {
  color: #d4b44c;
}

/* buttons */

.btn {
  border-radius: 6px;
  padding: 10px;
  font-weight: 700;
  display: inline-block; /*to make my links behave as btns*/
}

.btn-light-gold {
  background-color: #e7d8a8;
}

.btn-gold {
  background-color: #d4b44c;
}

.btn-border-gold {
  border: 2px solid #d4b44c;
}

.btn:hover, .btn:active {
  background-color: brown;
}

.btn-bigger {
  padding: 13px;
}
